
<h1>I'm the map I'm the map I'm the map I'm the map I'm the map I'm the map. I'm the map.</h1>

<div id="map-container">
	<div id="map">
	</div>
	<div id="pano">
	</div>
</div>

<form id='post-form'>
  Title: <input type="text" name="title" id='titleField'><br>
  Body: <input type="text" name="meat" id='textBox'><br>
  <input type="submit" value="Submit" id='submit-post'>
  <button id='cancel-post'>cancel</button>
</form>
