<div class='new_story'>
	<%= form_for @story, url: user_stories_path do |f| %>
	<p>
		<%= f.label :title, "Title of Your Story" %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.submit "Save", class: 'submitter' %>
	</p>
	<% end %>
</div>