<% @posts.each do |post| %>
	<p>Post # <%= post.id %> by <%= post.story.user.username %> from the story "<%=  post.story.title %>" </p>
<% end %>

<h1>I'm the map I'm the map I'm the map I'm the map I'm the map I'm the map. I'm the map.</h1>

<!-- PUt JAVASCRIPT DIVS IN HERE FROM STORIES SHOW -->

<!-- CONSIDER HOw TO GROUP THIS AND SHOW IT ON THE MAP -->
<!-- THE MAP -->
<div id="map-container">
	<div id="map">
	</div>
	<div id="pano">
	</div>
</div>

<div id="post-form">
  <input type="text" id='titleField'><br>
  <input type="text" id='textBox'><br>
  <input type="submit" id='submit-post'>
  <button id='cancel-post'>cancel</button>
</div>

<div class="posties">




</div>