/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *
 @import
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// NAV BAR
a {
	text-decoration: none;
}
#brand {
	margin-top: -10px;
	margin-left: 0px;
}
.brand_text {
	display: inline-block;
}
#brand_img {
	display: inline-block;
}
#dropdown {
	font-size: 2em;
}
#new_story_pill { 
	display: inline-block;
}
#nav_right {
  margin-top: 4px;
  margin-right: 2.5%;
}


// MAP STUFF
#map {
	height: 200px;
	position: relative;
	z-index: 5;
	border: 1px solid gray;
}
#pano {
	width: 100%;
	height: 80vh;
	display: inline-block;
	border: 1px solid gray;
}
#pano-container {
	margin-top: 2.5%;
}
.mainButtons {
	margin-left: 2%;
  width: 130px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

// Post Forms
#toggelGeo {
	display:inline-block;
	margin-left: 10%;
}
.delete_story {
	display:inline-block;
	text-decoration: none;
	color: black;
}
.delete_story:hover {
	text-decoration: none;
	color: black;
}
#toggelPostForm {
	position: relative;
	z-index: 9;
}
#post-form {
  width: 100%;
  top: 2px;
  position: absolute;
  z-index: 30;
  max-height: 100%;
  background-color: rgba(255, 250, 240, 0.9);
  border-bottom: 1px solid gray;
}
#titleField {
	margin: 0 auto;
	display: block;
	width: 90%;
	text-align: center;
	border: none;
	font-size: 100%;
	font-style: bold;
	border-radius: 15px;
	overflow: visible;
	max-height: 25%;
	height: 10vh;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0);
}
#titleField:focus {
	outline-width: 0;
	outline: none;
}
#textBox {
  margin: 0 auto;
  display: block;
  width: 90%;
  text-align: center;
  border: none;
  font-size: 2em;
  border-radius: 15px;
  overflow: visible;
  max-height: 100%;
  height: 30vh;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0);
}
.postButtons {
	margin-left: 3%;
  margin-bottom: 1%;
  width: 90px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}
#cancel-post {
	width: 8%;
}
#textBox:focus {
	outline-width: 0;
	outline: none;
}

/*Address search drop down*/
#locationFinder {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 30;
	height: 40%;
	background-color: rgba(255, 250, 240, 0.9);
	border-bottom: 1px solid black;
}
.locationButtons {
  margin-top: 8%;
  margin-left: 3%;
  width: 90px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}
#addressField {
	margin: 0 auto;
	display: block;
	border: none;
	font-size: 4em;
	border-radius: 15px;
	overflow: visible;
	max-height: 100%;
	height: 50%;
	text-align: center;
	width: 90%;
	background-color: rgba(255, 255, 255, 0);
}
#addressField:focus {
	outline-width: 0;
	outline: none;
}

// User profile page
#user_show_container {
	border-right: 1px solid black;
	border-left: 1px solid black;	
	padding-left: 3%;
	padding-right: 3%;
}
#profile_picture {
	border: 1px solid gray;
}
.field {
	font-size: 5em;
}
.actions {
	font-size: 5em;
}
.user_stories {
  width: 200px;
  height: 178px;
  text-align: center;
  padding: 5px;
  overflow: hidden;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-size: cover;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
}
.user_stories_link {
	text-decoration: none;
	font-size: 2em;
	color: white;
  font-weight: 100;
	font-family: "Avalon",sans-serif;
	margin-top: 5%;
}
.user_stories_link:hover {
	text-decoration: none;
	color: black;
}
.story_link {
	max-width: 100%;
}
.newStoryButton {
	color: #333333;
	margin-left: 0%;
}

//New Story
.newStory {
  text-align: center;
  border: 1px solid white;
  height: 90vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1429260350537-7db124ce78ac?fit=crop&fm=jpg&h=800&ixlib=rb-0.3.5&q=80&w=1450);
}
.newStoryInfo {
	font-family: "Avalon",sans-serif;
  font-weight: 900;
  font-size: 4.5em;
  letter-spacing: -0.2px;
  line-height: .95;
  color: white;
  margin-top: 20vh;
}
#newStory {
	color: black;
}
#story_title {
	color: black;
}
#story_title:focus {
	outline-width: 0;
	outline: none;
}
.submitter {
	color: black;
}
.newStoryCancel {
	color: black;
}


// Landing page
#aboutLander {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(https://images.unsplash.com/photo-1415125721330-116ba2f81152?fit=crop&fm=jpg&h=800&ixlib=rb-0.3.5&q=80&w=1425);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  overflow-y: scroll;
  width: 95vw;
  top: 2.5%;
  left: 2.5%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  border: 3px solid #181817;
  position: fixed;
  padding-top: 4%;
  z-index: 20;
  font-family: "Avalon",sans-serif;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: .95;
  color: white;
}
.greeting {
	font-size: 4.5em;
}
.landerColumns {
	margin-top: 10vh;
	margin-bottom: 5vh;
}
.gotIt {
	margin: 0 auto;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, .8);
  border-radius: 10px;
  box-shadow: none;
  margin-top: 32vh;
  color: black;
  border: 1px solid gray;
}
#landing_picture1 {
	border: 1px solid gray;
	margin-bottom: 5vh;
	display: block;
	margin: 3% auto;
}
.login {
	font-size: .3em;
	margin-top: 10%;
	margin-bottom: 5%;
}
.sign_up {
	font-size: .3em;
	margin-top: 10%;
	margin-bottom: 30%;
	padding-left: 5%;
	border-left: 1px solid white;
}
.field {
	margin-top: 4%;
}
#email {
	max-width: 100%;
	color: black;
}
#password {
	max-width: 100%;
	color: black;
}
#user_username {
	max-width: 100%;
	color: black;
}
#user_email {
	max-width: 100%;
	color: black;
}
#user_about {
	max-width: 100%;
	color: black;
	border: none;
}
#user_password {
	max-width: 100%;
	color: black;
}
#user_password_confirmation {
	max-width: 100%;
	color: black;
}
.submit {
	background: white;
  border: none;
  color: black;
  margin-top: 3%;
}
.landerCloser {
	
}

//Error
.errorMessage {
	font-size: 5em;
}







